#requerements.txt
#https://pypi.org/ centralizador de bibliotecas
# pip install rich
#pip install rich==15.0.0
#py -m pip install -r requirements.txt
rich==15.0.0
requests==2.34.2

# ver as dependencias intaladas
#pip freeze
